<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Math simulator</title>
  <link rel="stylesheet" href="style.css">
 </head>
 <body>
    <div id="container">
    <div id="header"><h1>Math simulator. Operations within 1000</h1></div>
    <!-- <div id="inner-container"> -->
    <div id="sidebar">
        <h3>Operations</h3>
        <ul>
            <li class="sideBarButton addition" id="addition-button">Addition</li>
            <li class="sideBarButton substraction">Substraction</li>
            <li class="sideBarButton multiplication">Multiplication</li>
            <li class="sideBarButton division">Division</li>
            <li class="sideBarButton quiz">Quiz</li>
        </ul>
    </div>
    <div id="main">
      <div id="start-text">
    <h2>How to start?</h2>
  <p>Choose preferable math operation from the list on the left to start practicing your skills.</p>
  </div>
  </div>
  <!-- </div> -->
  <div id="footer">
    <div id="copyright">&copy; Irina Makarova</div>
    <div id="year">2022</div>
</div>
  </div>
  <script defer type="module" src="main.js"></script>
 </body>
</html>