:root {
    --header-background: rgb(118, 191, 154);
    --header-color: rgb(	242, 169, 65);
    --sidebar-background: rgba(247, 216, 44, 1);
    --wrong-background: rgb(255, 198, 189);
    --right-background:rgb(216, 248, 201);
    --wrong-color: rgb(127, 10, 13);
    --hover-color: rgb(118, 191, 154);
    --sidebar-color: black;
    --link-cursor: pointer;
  }
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    font-size: 1.1em;
    cursor: default;
}
#container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
    grid-template-columns: 200px auto;
    grid-template-rows: 60px auto 30px;
    padding: 0px;
}
button{
    padding: 1px 8px;
    background-color:  var(--header-color);
    color: var(--sidebar-color);
    border: rgb(240, 158, 41) solid 1px;
    /* border: none; */
    text-decoration: none;
    border-radius: 3px;

}
button:hover{
    cursor: var(--link-cursor);
    background-color: var(--sidebar-background);
    border: rgb(246, 211, 19) solid 1px;
    color: black;
}
p{
    margin-top: 10px;
}

input{
    margin: 0 10px;
    padding-left: 5px;
    width: 50px;
    outline: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input:focus{
    border: 2px solid var(--header-color);
    border-radius: 3px;
}
input:read-only{
        border: 2px solid var(--wrong-color);
}
a{
    text-decoration: none;
}






