#sidebar{
    grid-area: sidebar;
    background-color: var(--sidebar-background);
}
h3{
    font-weight:normal;
    font-size: 1.2em;
    background-color: var(--header-color);
    padding: 5px 20px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 5px;
}
ul{
    list-style-type: none;
}
li{
    padding: 5px 20px;
}
li:hover{
    background-color: rgba(118, 191, 154, 0.5);
    cursor: var(--link-cursor);
}
.active{
    background-color: var(--hover-color);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
.active:hover{
   cursor: default;
   background-color: var(--hover-color);
}