h1{
    font-size: 1.4em;
    font-weight: normal;
    position: absolute;
    margin-left: 76px;
}
h1.link{
    position: relative;
    color: black;
    margin-left: 20px;
}
.link:hover{
    text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
    cursor: var(--link-cursor);
}